/* COMMON STYLES */
body {
    margin: 0px;
    /* This is saying: if Font Roboto is no available, use the sans-serif font  */
    font-family: 'Roboto', sans-serif;
}

/* Defining Font for All Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}



/*MY INITIAL VERSION*/
.menu-container {
    width: 800;
    align-content: center;

}

.menu-container > .two-col-section {
    display: flex;
    justify-content: center;
}

.menu-container > .two-col-section > .image-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 400px; 
    grid-template-columns: 2fr;
    /*1 Fraction Unit => All space available*/
    grid-gap: 25px;
}
.menu-container > .two-col-section > .image-wrapper img {
    width: 400px;
    height: 100%;
}

.menu-container > .two-col-section > .description-wrapper{
    width: 400px; 
    margin-left: 30px;
    align-items: center;
    text-align: justify;
    line-height: 1.25em;       /* Separacion entre lineas... podria ser: 30px; */
    letter-spacing: 1px;    /* Separacion entre caracteres */    
}


.menu-container > .two-col-section > .description-wrapper > .title {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 26px;
    color: #cea135;
    font-family: "Ubuntu Condensed", sans-serif;
}