.form > .form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form input {
    font-size: 1.25rem; /* It gives you access to the root value, rather than the current value (that could have been modified previously to another CSS properties */
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none; /* To remove the ugly grey edges on each form box */
    border-bottom: 3px solid #11122b; /* Adding a bottom edge only*/
    width: 100%;
    display: block; /* This is the default value for all divs, but we need it in this case to do the animation */
    transition: all 0.3s; /* Capturing ALL transition styles */
}

.form input:focus{  /* :Focus para animacion cuando este seleccionado */
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); /* light shadow */
    border-bottom: 3px solid #cea135;
}

/* JUST OF THE textarea */
.form textarea {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    border-radius: 3px;
    border: 3px solid #11122b;
    font-size: 1.25rem;
    color: inherit;
    font-family: inherit;
    padding: 1.5rem 2rem;
    transition: all 0.3s;
}

.form textarea:focus{  
    outline: none;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1); /* light shadow */
    border: 3px solid #cea135;
}

/* Hability to Stylize the placeholder. Not available in every browser (Chrome and Safari OK) */
/* We are applying to TWO different placeholders at the same time by using "," */
.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
    color: #11122b;
}

/* Modify the placeholder when the input:focus */
.form input:focus::-webkit-input-placeholder, .form textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

.form label {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 0.7rem;
    margin-left: 2rem;
    display: block; /* Allows to treat this element as a div, rather than a label */
    transition: all 0.3s;
    color: #cea135;
    /* Hidding before they are selected. */
    visibility: hidden; /* Visibility values*/
    opacity: 0; /* Opacity values for transparency*/
}


/* Modifiying the Label when the Input box is selected */
.form input:focus + label, .form textarea:focus + label {
    visibility: visible;
    opacity: 1; /* Opacity values */
    /* Animation: Slide the label down */
    transform: translateY(0.75rem); 
}
