/*  HERO SECTION STYLES */
.hero-section {
    background-image: url(../images/backgrounds/fries-hero-bg.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed; /*Image to be fixed*/
    background-position: center; /*Centering the image*/
    background-repeat: no-repeat; /*By default they repeat.*/
    background-size: cover; /*Shrinks and Crops the image to mantain the aspect ratio*/
}

.hero-section > .top-heading{
    padding: 1px, 20px;
    background-color: #11122b;
    font-size: 16px;
    color: #cbcbcb;
    width: 290px;
    border-radius: 2px; 
}

.hero-section > .bottom-heading{
    background-color: #cea135;
    font-size: 14px;
    color: #11122b;
    width: 290px;
    padding: 1px, 20px;
    margin-top: 15px;
    width: 107px;
    border-radius: 2px;

}

/* FEATURES SECTION STYLES */

.features-section {
    height: 400px;
    background-image: url(../images/backgrounds/fries-multiply-bg.jpg);
    background-color: #cea135;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center; /*Horizontal*/
    align-items: center; /*Vertical*/
    font-family: "Ubuntu Condensed", sans-serif;
    
    /* Creating a Shadow on this Div  
                    left  top  Transp bottom */
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.features-section > .columns-wrapper{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.features-section > .columns-wrapper >.column {
    padding: 20px;
    margin: 40px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.features-section > .columns-wrapper >.column:hover {
    border-bottom: 5px solid #11122b;
}

.features-section > .columns-wrapper >.column :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper >.column :nth-child(2) {
    font-size: 1.2em;
    font-weight: 900; /* to make it BOLD / Negritas */
    height: 50px;
    transition: 1s;
}
.features-section > .columns-wrapper >.column :nth-child(2):hover {
    letter-spacing: 1px;
}

.features-section > .columns-wrapper >.column :nth-child(3) {
    letter-spacing: 1.5px;
}

/* FEATURES FOR FOOTER */
/* See COMMON styles file */
